<div class="container">
  <div class="row pl-5">
    <h4 class="bg-light">マイページ</h4>
  </div>
  <div class="row pl-5">
    <table>
      <tbody>
        <tr>
          <td>登録情報</td>
          <td><%= link_to "編集する", customers_edit_path, class: 'btn btn-success px-4' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row pl-5 mt-3">
    <table class="border border-dark">
      <tbody>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr class="border-bottom border-dark">
          <td class="bg-light border-right border-dark">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row pl-5 mt-3">
    <table>
      <tbody>
        <tr>
          <td>配送先</td>
          <td><%= link_to "一覧を見る", addresses_path, class: 'btn btn-primary px-4' %></td>
        </tr>
        <tr>
          <td>注文履歴</td>
          <td><%= link_to "一覧を見る", orders_path, class: 'btn btn-primary px-4' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>