<div class="container">
  <div class="row">
    <h4 class="bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
  </div>
  <div class="row">
    <%= form_with model:@customer, url:admin_customer_path(@customer.id), local:true do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :"会員ID" %></td>
          <td><%= @customer.id %></td>
        </tr>
        <%= render 'layouts/customer_form', f: f %>
        <tr>
          <td><%= f.label :"会員ステータス" %></td>
          <td>
            <%= f.radio_button :is_active, Customer.is_actives.key(true) %>
            <%= f.label :is_active, Customer.is_actives_i18n[:enable] %>
          </td>
          <td>
            <%= f.radio_button :is_active, Customer.is_actives.key(false) %>
            <%= f.label :is_active, Customer.is_actives_i18n[:disable] %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>