<div class="container">
  <div class="row pl-5">
    <h4 class="bg-light">注文情報入力</h4>
  </div>
  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <div>
        <h5>
          <%= f.label :"支払方法" %>
        </h5>
        <div class="ml-5">
          <div>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
          </div>
          <div>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
          </div>
        </div>
      </div>
      <div>
        <h5>
          <%= f.label :"お届け先" %>
        </h5>
        <div class="ml-5">
          <div>
            <%= f.radio_button :select_address, "0" %>
            <%= f.label :select_address, "ご自身の住所" %>
          </div>
          <div class=" pl-4">
            <%= current_customer.current_address %><br />
            <%= current_customer.full_name %>
          </div>
        </div>
        <div class="ml-5 mt-2">
          <div>
            <%= f.radio_button :select_address, "1" %>
            <%= f.label :select_address, "登録済み住所から選択" %>
          </div>
          <div class=" pl-4">
            <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address), {include_blank: "-- 選択してください --"} %>
          </div>
        </div>
        <div class="ml-5 mt-2">
          <%= f.radio_button :select_address, "2" %>
          <%= f.label :select_address, "新しいお届け先" %>
          <div class=" pl-4">
            <%= render 'public/shared/address_form', f: f %>
          </div>
        </div>
        <div class="text-center mt-3">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary px-4' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
