<div class="container px-5">
  <div class="row">
    <div class="col-2 px-2">
      <%= render 'public/shared/genre_search', genres: @genres %>
    </div>
    <div class="col-3">
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "220x150" %>
    </div>
    <div class="col-6">
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
      <h3><%= @item.name %></h3>
      <div><%= @item.introduction %></div>
      <h5 class="mt-4">￥<%= @item.with_tax_price.to_s(:delimited) %>(税込)</h5>
      <%= f.hidden_field :item_id, :value => @item.id %>
        <table>
          <tbody>
            <tr class="mt-2">
              <td><%= f.select :amount, *[1..5], {include_blank: "- 個数選択 -"}  %></td>
              <td><%= f.submit "カートに入れる", class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>